<div class="footer">
  <div class="footer-links">
    <a href="#">Navcar</a>
    <a href="#">About us</a>
    <a href="#">Cars blogs</a>
  </div>
  <div class="footer-copyright">
    Give yourself a <strong><em>navcar</em></strong> ride. Put the breaks on your routine.
  </div>
</div>