<% provide(:title, 'Blogs') %>
<div class="container">
  <h1>Best car blogs in world!</h1>
  <div class="cards">
    <a href="https://www.topgear.com/" class="card">Top Gear</a>
    <a href="https://cars.usnews.com/cars-trucks?src=mainnavhome" class="card">Cars USNews</a>
    <a href="https://www.formula1.com/" class="card">F1 Official Website</a>
  </div>
</div>