<%# ini navbar %>
<%# end navbar %>

<%# ini banner %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('/assets/home.jpg');">
  <div class="container">
    <h1>Go <strong>anywhere</strong> you want</h1>
    <p>Chega de mesmice. Coloque um pouco de aventura na sua vida.</p>
    <a class="btn btn-secondary" href="#">Explore navcar</a>
  </div>
</div>
<%# end banner %>

<div class="container mt-4">
  <%# ini search-locations %>
  <div id="search-locations">
    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <h2>Cabo Frio</h2>
        <p>2.5 horas</p>
      </div>
    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <h2>Cabo Frio</h2>
        <p>2.5 horas</p>
      </div>
    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <h2>Cabo Frio</h2>
        <p>2.5 horas</p>
      </div>
    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <h2>Cabo Frio</h2>
        <p>2.5 horas</p>
      </div>
    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <h2>Cabo Frio</h2>
        <p>2.5 horas</p>
      </div>
    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <h2>Cabo Frio</h2>
        <p>2.5 horas</p>
      </div>
    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <h2>Cabo Frio</h2>
        <p>2.5 horas</p>
      </div>

    </div>
  </div>
<%# end search-locations %>

<%# ini card-category %>
<div class="d-flex justify-content-between">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    Vintage
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    Esporte
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    Luxo
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    Off-road
  </div>
</div>
<%# end card-category %>
</div>

<%# ini footer %>
<%# end footer %>
