.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.card-location {
  overflow: hidden;
  height: 80px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: white;
  img {
    height: 100%;
    width: 120px;
    object-fit: cover;
  }
}

.card-location h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-location p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-location .card-location-info {
  padding: 16px;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  &:hover{
    color: $red;
    font-weight: 700;
    text-shadow: 0 0 4px rgba(255,255,255,0.2);
    text-decoration: none;
  }
}

.car-details-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .car-details-grid  {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .car-details-grid  {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .car-details-grid  {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .car-details-grid  {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .car-details-grid  {
    grid-template-columns: 1fr 1fr;
  }
}

.card img {
  height: 300px;
  object-fit: cover;
}

.card {
  background-color: $beige;
}

.list-group-item {
  background-color: $beige;
}