// container style to center forms
.container-form {
    display: grid;
    width: 300px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 40px;
    // border: 1px solid red;
  }

.container-centered {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-around;
  padding: 15px 0;
  margin: 0 auto;
  width: 480px;
  // border: 1px solid red;
}

.container-show-rental {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  justify-content: space-around;
  padding: 15px 0;
  margin: 0 280px;
  // border: 1px solid red;
}